/dist/
/release/
/reports/
/node_modules/
/local/
/uploads/
.env
.env.*
!.env.example
*.log
.DS_Store
Thumbs.db

/public/native/config.json
/public/native/com.gssf.simulado_word.json
**/__pycache__/
*.pyc
